body{
    display:flex;
    flex-direction:column;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
    background-color: #F7F9F9;
}

.wrapper{
    margin-top: 50px;
    margin-right: 50px; 
    margin-left:  50px; 
    margin-bottom:50px; 
    max-width: auto; 
    padding-right: 10px; 
    padding-left:  10px; 
}

.corps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bl{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 25%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a:hover {
    color: #AED6F1 ;
}

.projectlist{
    display: flex;
    flex-direction: column;
    align-items:space-between;
    font-family: 'Lato', sans-serif;
}
   
ul{
    list-style: none;
    padding-left: 0;  
}

.lien{
    text-decoration: none;
    color: #B3B6B7 ;
}

.lien2{
    text-decoration: none;
    color: black ;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap:wrap;
    width: 75%;
    flex-wrap:wrap;
}

.item1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:20px;
    width: 100%;
}

.item2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    filter: drop-shadow(20px 10px 4px #BDC3C7);
}


footer{
    margin-block-start: 0em;
}